.register-page {
    position: absolute;
    margin-top: 100em;
    width: 25em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}

.kepala{
text-align: center;
}
.kepala .logo {
    height: 32%;
    width: 32%;
    border-radius: 50%;
    margin-bottom: 1.25em;
    border: 0.1em solid black;
}

.form {
    position: relative;
    z-index: 1;
    background: rgb(2, 238, 73);
    max-width: inherit;
    margin: 0 auto 1em;
    padding: 1em;
}
.form input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border-radius: 0.6em;
    border: 0.05em solid black;
    padding: 0.7em;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: -0.6em;
}
.register-button{
    text-align: center;
}
.register-button button {
    text-transform: uppercase;
    outline: 0;
    background: rgb(61, 63, 61);
    width: 70%;
    border-radius: 0.6em;
    padding: 0.5em;
    color: #FFFFFF;
    border: 0 rgb(61, 63, 61);
    font-size: 1em;
    cursor: pointer;
}
.form button:hover{
    background: rgb(230, 13, 13);
}
.message {
    padding: 1em;
    margin: 1em 0 0;
    color: #b3b3b3;
    font-size: 1em;
    text-align: center;
}
.message a {
    color: #4CAF50;
    text-decoration: none;
}

#footer{
    position: absolute !important;
    bottom: 0;
}
@media only screen and (max-width: 425px){
    
}

@media only screen and (max-width: 375px){

}

@media only screen and (max-width: 320px){
    
}